<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Members only</h1>
    <% if (locals.currentUser) { %>
    <p>Click <a href="./log-out">here</a> to log-out</p>
    <p>Click <a href="./new-message">here</a> to write a new message</p>
    <% if (!locals.currentUser.is_member) { %>
    <p>Click <a href="./member">here</a> to become a member...</p>
    <% } %> <% } else { %>
    <p>Click <a href="./sign-up">here</a> to sign up</p>
    <p>Click <a href="./log-in">here</a> to log-in</p>
    <% } %> <% if (locals.messages) { %> <% messages.forEach(message => { %>
    <div class="message">
      <p class="text"><%- message.text %></p>
      <% if (locals.currentUser && locals.currentUser.is_member) { %>
      <p class="author">
        Posted by <%- message.firstname %> <%- message.lastname %>
      </p>
      <p class="timestamp">On <%- message.timestamp %></p>
      <% if (locals.currentUser.is_admin) { %>
      <form action="./delete" method="post">
        <button
          type="submit"
          name="message_id"
          value="<%- message.message_id %>"
        >
          Delete message
        </button>
      </form>
      <% } %> <% } %>
    </div>
    <% }) } %>
  </body>
</html>
